header.jumbotron.jumbotron-fluid.cm-header
  .container
    h1.display-3: a(href='/' title='Click to go the main page') Cristiana Moisescu
    p.lead Journalist. London &amp; Bucharest.
      | #{' '}
      a(href='https://twitter.com/MCristianna') @MCristianna
      | #{' '} on Twitter


  != partial('_nav')

