body
  font-size: $font-size-px
  font-size: $font-size-rem
  line-height: $line-height
  color: $primary

.cm-main
  max-width: 100%

  p
    hyphens: auto
    word-wrap: break-word

  img
    max-width: 100%

