.container
  h1 Contact me
  br
  h3 E-mail:
    br
    script.
      var em = ['cristiana', '.', 'moisescu', '@', 'gmail', '.com'].join('');
      document.write('<a href=' + em + '>'+ em +'</a>');
    
    noscript
      cristiana [dot] moisescu [at] gmail [dot] com
  
  br
  h3
    a(href='https://www.linkedin.com/in/cristianamoisescujournalist', target="_blank") LinkedIn
    
  br
  h3 Twitter:
    br
    a(href='https://twitter.com/MCristianna', target="_blank") @MCristianna